[Unit]
Description="uWSGI server instance configured to serve flask_uwsgi"
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /var/www/flask_uwsgi/flask_uwsgi.ini --uid www-data --gid www-data --chdir /var/www/flask_uwsgi
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target