server {
    listen 80;
    server_name ec2-34-201-243-182.compute-1.amazonaws.com;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/var/www/flask_uwsgi/flask_uwsgi.sock;
    }
}